h1{
  background: rgb(102, 178, 255); 
  color: white;
}

/* .phone{
  margin-top: 50px;
}
.laptops{
  margin-top: 100px;
}
.camera{
  margin-top: 100px;
}
.tv{
  margin-top: 100px;
} */
 .all{
   margin-left: 300px;
 }
